iso3166
datasette
dateparser
datasette-cluster-map
datasette-leaflet
deta
html5lib
httpcore
httpx
hupper
itemadapter 
itemloaders 
itsdangerous
janus
jeepney
Jinja2
jmespath 
jsonlines 
keyring
lockfile
lxml 
MarkupSafe
mergedeep
more-itertools 
msgpack
mypy-extensions 
numpy 
packaging 
pandas 
parse 
parsel 
pastel
pathspec 
pexpect
Pint
pkginfo
platformdirs
pluggy 
poetry-core
priority 
Protego 
ptyprocess
py 
pyasn1 
pyasn1-modules 
pycparser
PyDispatcher 
pyee 
pylev
pyOpenSSL 
pyparsing
pyppeteer 
pyquery 
PySocks
pytest 
pytz 
PyYAML
queuelib 
regex 
requests
requests-html 
reverse-geocode
Scrapy 
service-identity 
shellingham
six
sniffio
soupsieve 
sqlite-utils
stem
tabulate
tenacity
urllib3
uvicorn
w3lib 
wcwidth 
webencodings
websockets 
